#chapter-area>tbody>tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.text-big {
    font-size: 20px;
    font-weight: bold;
}

.text-small {
    font-size: 13px;
    font-weight: bold;
}

#detail-area {
    margin: 30px auto;
    border-radius: 20px;
    padding: 40px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, .08);
}
