.outer {
    float: center;
    margin: 20px;
    margin-left: 270px;
    width: 80%;
}

#chapter-area>tbody>tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.table {
    text-align: center;
}

.text-big {
    font-size: 20px;
    font-weight: bold;
}

.text-small {
    font-size: 13px;
    font-weight: bold;
}
