<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<resultMap id="noticeResultSet" type="Notice">
		<id column="NOTICE_ID" property="noticeId"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="CONTENT" property="content"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="COUNT" property="count"/>
		<result column="CREATED_DATE" property="createdDate"/>
		<result column="UPDATED_DATE" property="updatedDate"/>
		<result column="FILE_ID" property="fileId"/>
		<result column="STATUS" property="status"/>
		
		<result column="NAME" property="name"/>
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_ID,
			   NOTICE_TITLE,
			   MEMBER.NAME AS NAME,
			   COUNT,
			   CREATED_DATE
		FROM NOTICE
		JOIN MEMBER USING (MEMBER_ID)
		WHERE NOTICE.STATUS='Y'
		ORDER BY NOTICE_ID DESC
	</select>
	
	<insert id="insertNotice" parameterType="notice">
		INSERT INTO NOTICE (NOTICE_ID
							, NOTICE_TITLE
							, CONTENT
							, MEMBER_ID)
			VALUES (SEQ_NNO.NEXTVAL
					, #{noticeTitle}
					, #{content}
					, #{memberId})
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE NOTICE
		SET COUNT = COUNT + 1
		WHERE NOTICE_ID = #{noticeNo}
		AND STATUS = 'Y'
	</update>
	
	<select id="selectNotice" resultMap="noticeResultSet" parameterType="_int">
	 SELECT NOTICE_ID,
	 		NOTICE_TITLE,
	 		CONTENT,
	 		MEMBER.NAME AS NAME,
	 		CREATED_DATE,
	 		UPDATED_DATE
	 FROM NOTICE
	 JOIN MEMBER USING(MEMBER_ID)
	 WHERE NOTICE.STATUS = 'Y'
	 AND NOTICE_ID = #{noticeId}
	</select>
	
	<update id="updateNotice" parameterType="notice">
		UPDATE NOTICE
		SET NOTICE_TITLE = #{noticeTitle},
			CONTENT = #{content}
		WHERE NOTICE_ID = #{noticeId}
		AND STATUS = 'Y'
	</update>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE NOTICE
		SET STATUS = 'N'
		WHERE NOTICE_ID = #{noticeId}
		AND STATUS = 'Y'
	</update>
</mapper>